@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(74, 200, 238);
    --dark-color: rgb(5, 77, 92);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.57);
}

.calc {
    display: grid;
   
    grid: auto-flow 5rem/ repeat(4, [line1 line2 line3 line4] 7.5rem);
    gap: .5rem
    
}

.calc div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: solid 0.5px lightgray;
}

.calc div:hover {
    cursor: pointer;
}

.display {
    width: 31.5rem;
    height: 2rem;
    margin-bottom: 1rem;
    text-align: end;
    font-size: larger;
}

p {
    text-align: center;
    font-size: 1rem;
    
}

a {
    font-style: italic;
    
}

@media screen and (min-width: 600px) and (max-width: 900px) {
	.calc {
        grid: auto-flow 5rem/ repeat(4, [line1 line2 line3 line4] 5.5rem);
        gap: .5rem;     
        justify-content: center;

    }

    .display {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
        text-align: end;
        font-size: larger;
    }

    body {
        background-color: white;
    }

    .container {
        margin: 0;
        box-shadow: 0px 0px 11px 2px white;
    }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
    .calc{ 
        grid: auto-flow 3.5rem/ repeat(4, [line1 line2 line3 line4] 3.7rem);
        gap: .5rem;
        justify-content: center;
    }

    .display {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
        text-align: end;
        font-size: larger;
    }
    
    body {
        background-color: white;
    }

    .container {
        margin: 0;
        box-shadow: 0px 0px 11px 2px white;
    }
}